In [1]:
from glob import glob
import os
from PIL import Image
from tqdm import tqdm
import torch
import torchvision
from torchvision.transforms import *
import cv2
import torch.nn.functional as F
from torch import nn
import timm
import numpy as np

## Category
- point-like corneal ulcers
- point-flaky mixed corneal ulcers
- flaky corneal ulcers
## Types
- type 0 : No ulcer of the corneal epithelium
- type 1 : Micro punctate
- type 2 : Macro punctate
- type 3 : Coalescent macro punctate
- type 4 : Patch (>=1 mm)
## Grade
- grade 0 : No ulcer of the corneal epithelium
- grade 1 : Corneal ulcers involve only one surrounding quadrant
- grade 2 : Corneal ulcers involve two surrounding quadrants
- grade 3 : Corneal ulcers involve three or four surrounding quadrants
- grade 4 : Corneal ulcers involve the central optical zone of the cornea

In [8]:
c0 = 'point-like corneal ulcers'
c1 = 'point-flaky mixed corneal ulcers'
c2 = 'flaky corneal ulcers'
t0 = 'No ulcer of the corneal epithelium'
t1 = 'Micro punctate'
t2 = 'Macro punctate'
t3 = 'Coalescent macro punctate'
t4 = 'Patch (>=1 mm)'
g0 = 'No ulcer of the corneal epithelium'
g1 = 'Corneal ulcers involve only one surrounding quadrant'
g2 = 'Corneal ulcers involve two surrounding quadrants'
g3 = 'Corneal ulcers involve three or four surrounding quadrants'
g4 = 'Corneal ulcers involve the central optical zone of the cornea'

In [9]:
labels['c+t_g'] = labels['name']

In [10]:
for ind in labels.index:
    
    l0 = labels['category'][ind]
    
    labels['c+t_g'][ind] = str(l0) + '+' + str(labels['type'][ind]) + '_' + str(labels['grade'][ind])

/var/folders/37/cr55t1yj4_q7mn_gwsg1qk640000gn/T/ipykernel_21193/4004307332.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  labels['c+t_g'][ind] = str(l0) + '+' + str(labels['type'][ind]) + '_' + str(labels['grade'][ind])

In [11]:
labels

        name  category  type  grade  c+t_g
0      1.jpg         0     4      3  0+4_3
1      2.jpg         0     4      3  0+4_3
2      3.jpg         0     2      2  0+2_2
3      4.jpg         0     2      1  0+2_1
4      5.jpg         0     1      3  0+1_3
..       ...       ...   ...    ...    ...
707  708.jpg         2     2      4  2+2_4
708  709.jpg         2     2      4  2+2_4
709  710.jpg         2     1      4  2+1_4
710  711.jpg         2     3      4  2+3_4
711  712.jpg         2     4      4  2+4_4

[712 rows x 5 columns]

In [12]:
labels.to_csv('labels.csv')